# Common *nix-based aliases

## Directory navigation aliases
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

## tmux
alias tmux='tmux attach || tmux new'

## quick find
alias qfind="find . -name "

## Get header
alias header="curl -I"

## Get external IP address
alias ipx="curl -s http://ipinfo.io/ip"

## strings
alias strings="strings -a"

## Network check
alias p8="ping 8.8.8.8"
alias pru="ping ya.ru"

## history
alias hg="history | grep"

## nmap
alias nmap="nmap --reason --open"

## ssh
#alias ssh=color-ssh

## proxy
alias uqproxy='proxychains4 -q'

## Speed up msfvenom
alias msfvenom-list-all='cat ~/.msf4/msfvenom/all'
alias msfvenom-list-nops='cat ~/.msf4/msfvenom/nops'
alias msfvenom-list-payloads='cat ~/.msf4/msfvenom/payloads'
alias msfvenom-list-encoders='cat ~/.msf4/msfvenom/encoders'
alias msfvenom-list-formats='cat ~/.msf4/msfvenom/formats'
alias msfvenom-list-generate='_msfvenom-list-generate'